Repository OpenAngelArena/oaa, pull requests merged in 2018-03, with the labels that each got.

#2034 Increase time to select hero in CM after picks
  game/scripts/vscripts/settings.lua
Labels: Bug, lua

#2032 Make Infinity Bottles non-sellable at KV level
  game/scripts/npc/items/custom/item_infinite_bottle.txt
Labels: Bug, Items, KV

#2056 Regen Crystal While Stunned
  game/resource/English/ability/items/tooltip_regen_crystal.txt
  game/scripts/npc/items/custom/item_regen_crystal_1.txt
  game/scripts/npc/items/custom/item_regen_crystal_2.txt
  game/scripts/npc/items/custom/item_regen_crystal_3.txt
Labels: Balance, Items, KV

#2030 normalized icon set style. new palm icon
  game/resource/flash3/images/spellicons/custom/ronin_flurry_of_blows.png
  game/resource/flash3/images/spellicons/custom/ronin_momentum.png
  game/resource/flash3/images/spellicons/custom/ronin_palm_of_life.png
  game/scripts/npc/abilities/sohei_palm_of_life_oaa.txt
Labels: Icon, Items

#2031 Sohei model animation and particles fixes
  content/materials/models/heroes/sohei/so_body.vmat
  content/materials/models/heroes/sohei/so_body_translucent.vmat
  content/materials/models/heroes/sohei/sohei_hat_color.vmat
  content/materials/models/heroes/sohei/sohei_head.vmat
  content/materials/models/heroes/sohei/sohei_robe.vmat
  content/materials/models/heroes/sohei/sohei_tetsubo.vmat
  content/models/heroes/sohei/anims/cast.dmx
  content/models/heroes/sohei/anims/jump.dmx
  content/models/heroes/sohei/anims/jump_end.dmx
  content/models/heroes/sohei/anims/taunt_face_me.dmx
  content/models/heroes/sohei/anims/taunt_maskLord.dmx
  content/models/heroes/sohei/anims/victory.dmx
  content/models/heroes/sohei/sohei.vmdl
  content/particles/hero/sohei/flurry_of_blows_dance.vpcf
  content/particles/hero/sohei/flurry_of_blows_dance_2.vpcf
  content/particles/hero/sohei/flurry_of_blows_ground.vpcf
  content/particles/hero/sohei/flurry_of_blows_ground_projection.vpcf
  content/particles/hero/sohei/flurry_of_blows_ground_ring.vpcf
  content/particles/hero/sohei/guard.vpcf
  content/particles/hero/sohei/momentum.vpcf
  content/particles/hero/sohei/reflect_sakura_leaves.vpcf
  content/soundevents/ronin_soundevents.vsndevts
  content/soundevents/units/game_sounds_sohei.vsndevts
  game/models/heroes/sohei/so_weapon.vmdl_c
  game/models/heroes/sohei/so_weapon.vmesh_c
  game/scripts/npc/abilities/sohei_dash_oaa.txt
  game/scripts/npc/abilities/sohei_flurry_of_blows_oaa.txt
  game/scripts/npc/abilities/sohei_guard_oaa.txt
  game/scripts/npc/abilities/sohei_momentum_oaa.txt
  game/scripts/npc/abilities/sohei_palm_of_life_oaa.txt
  game/scripts/npc/abilities/sohei_talents_oaa.txt
  game/scripts/npc/units/npc_dota_hero_sohei.txt
  game/scripts/vscripts/abilities/sohei/sohei_flurry_of_blows.lua
  game/scripts/vscripts/abilities/sohei/sohei_guard.lua
  game/scripts/vscripts/components/duels/duels.lua
  game/scripts/vscripts/components/heroselection/herocosmetics.lua
  game/scripts/vscripts/items/reflex/reactive_reflect.lua
Labels: Particle/Model

#2045 #SaveUrnOfSorcery
  game/scripts/npc/items/custom/item_urn_of_sorcery.txt
  game/scripts/npc/items/custom/item_urn_of_sorcery_2.txt
  game/scripts/npc/items/custom/item_urn_of_sorcery_3.txt
  game/scripts/npc/items/custom/item_urn_of_sorcery_4.txt
Labels: Balance, Items, KV

#2033 Fix urn of sorcery level 2-4
  game/scripts/vscripts/items/urn_of_sorcery.lua
Labels: Bug, Items

#2053 Making Dark Seer Perma-surge Harder
  game/scripts/npc/abilities/dark_seer_surge.txt
Labels: Balance

#2058 Give sentries a CD in shop
  game/scripts/npc/items/item_ward_sentry.txt
Labels: Balance, Items, KV

#2027 Duel refactor stage 1: modularization, some cleanup, teleport fixes
  game/scripts/vscripts/components/duels/duels.lua
  game/scripts/vscripts/components/duels/savestate.lua
  game/scripts/vscripts/components/duels/teleport.lua
Labels: Bug, Duels, lua

#2066 Fixed the link path for finding the /docs/
  README.md
  docs/setup/README.md
  docs/setup/install.md
Labels: Documentation

#2122 Fix discord msg positioning
  content/panorama/layout/custom_game/discord.xml
  content/panorama/styles/custom_game/discord.css
Labels: Enhancement, Panorama

#2102 Cleaning up some d2am docs.
  docs/d2am/README.md
  docs/discord/README.md
Labels: Documentation

#2049 Tourney docs
  docs/README.md
  docs/tourney/README.md
  docs/tourney/discord_setup.md
  docs/tourney/glossary.md
  docs/tourney/job_descriptions.md
  docs/tourney/rules.md
  docs/tourney/scheduling.md
Labels: Discussion, Documentation

#2072 Make farming boots use default disassemble rules
  game/scripts/npc/items/farming/item_greater_arcane_boots.txt
  game/scripts/npc/items/farming/item_greater_arcane_boots_2.txt
  game/scripts/npc/items/farming/item_greater_arcane_boots_3.txt
  game/scripts/npc/items/farming/item_greater_arcane_boots_4.txt
  game/scripts/npc/items/farming/item_greater_guardian_greaves.txt
  game/scripts/npc/items/farming/item_greater_guardian_greaves_2.txt
  game/scripts/npc/items/farming/item_greater_guardian_greaves_3.txt
  game/scripts/npc/items/farming/item_greater_guardian_greaves_4.txt
  game/scripts/npc/items/farming/item_greater_phase_boots.txt
  game/scripts/npc/items/farming/item_greater_phase_boots_2.txt
  game/scripts/npc/items/farming/item_greater_phase_boots_3.txt
  game/scripts/npc/items/farming/item_greater_phase_boots_4.txt
  game/scripts/npc/items/farming/item_greater_power_treads.txt
  game/scripts/npc/items/farming/item_greater_power_treads_2.txt
  game/scripts/npc/items/farming/item_greater_power_treads_3.txt
  game/scripts/npc/items/farming/item_greater_power_treads_4.txt
  game/scripts/npc/items/farming/item_greater_tranquil_boots.txt
  game/scripts/npc/items/farming/item_greater_tranquil_boots_2.txt
  game/scripts/npc/items/farming/item_greater_tranquil_boots_3.txt
  game/scripts/npc/items/farming/item_greater_tranquil_boots_4.txt
  game/scripts/npc/items/farming/item_greater_travel_boots.txt
  game/scripts/npc/items/farming/item_greater_travel_boots_2.txt
  game/scripts/npc/items/farming/item_greater_travel_boots_3.txt
  game/scripts/npc/items/farming/item_greater_travel_boots_4.txt
Labels: Balance, KV

#2071 BUG BOUNTY: "Create custom end screen to show scores and Bottlepass unlocks (€30 Bounty)"
  content/panorama/layout/custom_game/custom_ui_manifest.xml
  content/panorama/layout/custom_game/multiteam_end_screen.xml
  content/panorama/layout/custom_game/multiteam_end_screen_player.xml
  content/panorama/layout/custom_game/precache.xml
  content/panorama/scripts/custom_game/multiteam_end_screen.js
  content/panorama/styles/custom_game/multiteam_end_screen.css
  game/scripts/custom_net_tables.txt
  game/scripts/vscripts/components/bottlepass/experience.lua
  game/scripts/vscripts/components/bottlepass/index.lua
  game/scripts/vscripts/components/bottlepass/server.lua
  game/scripts/vscripts/components/points/points.lua
  game/scripts/vscripts/components/progression/hero_progression.lua
  game/scripts/vscripts/events.lua
  game/scripts/vscripts/gamemode.lua
  game/scripts/vscripts/settings.lua
Labels: Balance, lua

#2121 Zeus cloud cdr
  game/resource/English/ability/units/tooltip_zuus_cloud.txt
  game/scripts/npc/abilities/zuus_cloud_oaa.txt
  game/scripts/npc/heroes/zeus.txt
  game/scripts/npc/npc_abilities_custom.txt
  game/scripts/npc/npc_abilities_override.txt
  game/scripts/vscripts/abilities/oaa_zuus_cloud.lua
Labels: Balance, Bug Bounty, lua

#2079 Minor Sohei fixes
  game/scripts/vscripts/abilities/baseclass.lua
  game/scripts/vscripts/abilities/sohei/sohei_dash.lua
  game/scripts/vscripts/abilities/sohei/sohei_flurry_of_blows.lua
  game/scripts/vscripts/abilities/sohei/sohei_momentum.lua
  game/scripts/vscripts/abilities/sohei/sohei_palm_of_life.lua
Labels: Bug, lua

#2138 Documentation Fixes
  docs/kv/quick_kv_updating_testing.md
  docs/kv/tooltips-guide.md
Labels: Documentation, work in progress
