Repository OpenAngelArena/oaa, pull requests merged in 2024-08, with the labels that each got.

#3673 Tormentor
  game/resource/English/ability/units/tormentor_boss/tooltip_tormentor_boss.txt
  game/resource/English/npc/npc_bosses.txt
  game/scripts/npc/abilities/boss/tormentor_boss/tormentor_boss_radiance_oaa.txt
  game/scripts/npc/abilities/boss/tormentor_boss/tormentor_boss_reflect_oaa.txt
  game/scripts/npc/abilities/boss/tormentor_boss/tormentor_boss_unyielding_shield_oaa.txt
  game/scripts/npc/npc_abilities_custom.txt
  game/scripts/npc/npc_units_custom.txt
  game/scripts/npc/units/boss/tormentor.txt
  game/scripts/vscripts/abilities/boss/carapace/boss_carapace_headbutt.lua
  game/scripts/vscripts/abilities/boss/tormentor_boss/tormentor_radiance.lua
  game/scripts/vscripts/abilities/boss/tormentor_boss/tormentor_reflect.lua
  game/scripts/vscripts/abilities/boss/tormentor_boss/tormentor_unyielding_shield.lua
  game/scripts/vscripts/components/boss/bosses.lua
  game/scripts/vscripts/units/ai_tormentor_boss.lua
Labels: Bosses

#3687 Bottles n stuff
  content/panorama/images/items/custom/bottles/bottle_coffee.png
  content/panorama/images/items/custom/bottles/bottle_eye.png
  content/panorama/images/items/custom/bottles/bottle_nature.png
  content/panorama/images/items/custom/bottles/bottle_ogre.png
  content/panorama/images/items/custom/bottles/bottle_pixel.png
  content/panorama/images/items/custom/bottles/bottle_skull.png
  content/panorama/images/items/custom/bottles/bottle_starfire.png
  content/panorama/images/items/custom/bottles/bottle_thedud.png
  content/panorama/images/items/custom/bottles/bottle_zap.png
  content/panorama/styles/custom_game/bottlepass_rewards.css
  content/panorama/styles/custom_game/hero_selection.css
  game/resource/flash3/images/items/custom/bottles/bottle_coffee.png
  game/resource/flash3/images/items/custom/bottles/bottle_eye.png
  game/resource/flash3/images/items/custom/bottles/bottle_nature.png
  game/resource/flash3/images/items/custom/bottles/bottle_ogre.png
  game/resource/flash3/images/items/custom/bottles/bottle_pixel.png
  game/resource/flash3/images/items/custom/bottles/bottle_skull.png
  game/resource/flash3/images/items/custom/bottles/bottle_starfire.png
  game/resource/flash3/images/items/custom/bottles/bottle_thedud.png
  game/resource/flash3/images/items/custom/bottles/bottle_zap.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_coffee.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_eye.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_nature.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_ogre.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_pixel.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_skull.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_starfire.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_thedud.png
  game/resource/flash3/images/spellicons/custom/bottles/bottle_zap.png
  game/scripts/vscripts/components/bottlepass/special_rewards.lua
  game/scripts/vscripts/items/bottle.lua
Labels: Icon

#3694 Offside update
  game/scripts/vscripts/modifiers/modifier_offside.lua
Labels: Bug Fix
